@model core.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Resturants";
}
<h1>Welcome</h1>
<table>
    @foreach (var resturant in Model.Resturants)
    {
        @Html.Partial("_Summary", resturant)
    }
</table>

<div>
    <a asp-action="Create">Create</a>
</div>